<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="nav-filler-div"></div>

    <div id="aboutus-container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores ex voluptas ma</h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae modi distinctio, temporibus culpa odio perspiciatis voluptates totam doloremque molestias excepturi minima quas quam veniam vitae? Fugit id quia temporibus! Dignissimos?
            Lorem ipsum dolor sit amet consectetur . 
        </P>
        <img class="aboutus-img" src="/images/alphabets.jpeg" alt="tree">
    </div>
    
    

    <div id="person-grid">
      
   <% profile.forEach( (person) =>{ %>


        <div class="person-card person-card-grid">
            <img src="/images/person/man.png" alt="harshal" class="person-img">
            <h3> <%= person.name%> </h3>
            
            <div class="socials-img-div">
            <a href="https://github.com/<%=person.github %>">
                <img src="/images/socials/github.png" alt="github link" class="socials-img"><%=person.github %>
            </a>
            <a href="https://www.linkedin.com/in/<%=person.linkedIn%>">
                <img src="/images/socials/linkedin.png" alt="linkedin link" class="socials-img"><%= person.linkedIn %>
            </a>
            <a href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/resume.png" alt="youtube link" class="socials-img">
            </a>

            </div>
        </div>


        <% }) %>
    

    </div>





  
<%- include("./partials/footer.ejs") -%>
