<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="nav-filler-div"></div>

    <div class="aboutus-container">
        <h1>From One to Millions, The Dream makes the Difference!</h1>
        <p class="p-size" style="font-size: 1.5em"> This project leverages technology to promote inclusivity and enhance the daily lives of individuals who use sign language as their primary mode of communication.
        </P>
        <img class="aboutus-img" src="https://cdn-icons-png.flaticon.com/128/10074/10074039.png" alt="tree">
    </div>
    
    

    <div class="person-grid">
      
   <% profile.forEach( (person) =>{ %>


        <div class="person-card person-card-grid">
            <img src="/images/person/man.png" alt="harshal" class="person-img">
            <h3> <%= person.name%> </h3>
            
            <div class="socials-img-div">
            <a class="a-decor" href="https://github.com/<%=person.github %>">
                <img src="/images/socials/github.png" alt="github link" class="socials-img"><%=person.github %>
            </a >
            <a  class="a-decor" href="https://www.linkedin.com/in/<%=person.linkedIn%>">
                <img src="/images/socials/linkedin.png" alt="linkedin link" class="socials-img"><%= person.linkedIn %>
            </a>
            <a  class="a-decor" href="https://github.com/Concerned-Doggo">
                <img src="/images/socials/resume.png" alt="youtube link" class="socials-img">
            </a>

            </div>
        </div>


        <% }) %>
    

    </div>





  
<%- include("./partials/footer.ejs") -%>
