<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="nav-filler-div"></div>


<form action="/edit" method="post"> 

<label for="change username">Change username</label>
<input type="text" value="<%=username%>" placeholder="<%=username%>" name="newUsername">
<input value="<%=username%>" name="username" style="display:none">
<button type=submit>Update</button>


</form>


<form action="/edit" method="post"> 

    <label for="change password">Change password</label>
    <input type="text" value="<%=password%>" placeholder="<%=password%>" name="newpassword">
    <input value="<%=password%>" name="password" style="display:none">
    <button type=submit>Update</button>
    
    
    </form>
<%- include("./partials/footer.ejs") -%>
