<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="nav-filler-div"></div>


<form action="/edit" method="post"> 
<div class="edit-card letter-page-card">

<label for="change username" >Change username:</label>
<input type="text" value="<%=username%>" placeholder="<%=username%>" name="newUsername">
<input value="<%=username%>" name="username" style="display:none">
<button type="submit" class="update-button">Update</button>

</div>
</form>

<%- include("./partials/footer.ejs") -%>
