<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>


<div class="nav-filler-div" ></div>

    <div class="letter-grid">

      <% for(let i = 0; i < 7; i += 2){ %>
       <div class="letter-page-card">
        <div class="letter-card-img" onclick="letterPageJS('<%= letter[i] %>-<%= letter[i+1] %>')">
          
          <img src="/images/letters/<%= letter[i] %>.png" alt="yt video thumbnail" class="letter-img">
          <img src="/images/letters/<%= letter[i+1] %>.png" alt="yt video thumbnail" class="letter-img">

        </div> 
        <p class="p-size">Learn Alphbets from <%= letter[i]%>-<%= letter[i+1]%> in sequential order with the help of our specifically designed videos.</p>
      </div>

      <div class="letter-page-card" >
        <div class="letter-card-img" onclick="quizPageJS('<%= letter[i] %>-<%= letter[i+1] %>')">

          <img src="/images/letters/<%= letter[i] %>.png" alt="yt video thumbnail" class="letter-img">
          <img src="/images/letters/<%= letter[i+1] %>.png" alt="yt video thumbnail" class="letter-img">

        </div> 
        <p class="p-size">Learn Alphbets from <%= letter[i]%>-<%= letter[i+1]%> in random order with the help of our quiz feature.</p>
      </div>
       
      <% } %>

    </div>
      
<script>
  function letterPageJS(word) {
    window.location.assign(`/letter/${word}`);
  }

  function quizPageJS(word) {
    window.location.assign(`/quiz/${word}`);
  }
</script>

<script src="/scripts/progressBar.js"></script>

<%- include("./partials/footer.ejs") -%>
