<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="letter-grid">
        
        <% for(let i = 0; i < letterArray.length; i++){%>

            <div class="letter-page-card">
    
                    <video width="200" height="200" controls>
                        <source src="/videos/<%= letterArray[i] %>.mp4" type="">
                    </video>
                    <form action="/quiz/<%= customUrl %>" method="post">

                        <div class="options-grid"">
                         <input type="radio" name="ans" value="<%= options[i][0]%>">

                        <label for="">
                            <%= options[i][0].option %> 
                        </label><br>

                        <input type="radio" id="css" name="ans" value="<%=options[i][1]%>">

                        <label for="">
                            <%= options[i][1].option %>
                        </label><br>

                        <input type="radio" id="javascript" name="ans" value="<%= options[i][2]%>">

                        <label for="">
                            <%= options[i][2].option %>
                        </label>
                    </div>
                    <!-- <input type="text" placeholder="Yiur Ans"> -->
                        <button type="submit" onclick="">Submit</button> 
                </form>
            </div>
        <% } %>>
</div>




<%- include("./partials/footer.ejs") -%>
