<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>

<div class="letter-grid">
        
        <% letterArray.forEach(letter => { %>

            <div class="letter-page-card">
    
                    <video width="200" height="200" controls>
                        <source src="/videos/<%= letter %>.mp4" type="">
                    </video>
                    <div class="options-grid"">
                        <button type="submit"><%= options[0][0] %></button>
                        <button type="submit"><%= options[0][1] %></button> 
                        <button type="submit"><%= options[0][2] %></button>
                        <button type="submit"><%= options[0][3] %></button>
                    </div>
                    <!-- <input type="text" placeholder="Your Ans">
                    <button type="submit" onclick="">Submit</button> -->
            </div>
        <% }) %>
</div>



<script>
    const increment = i => i++;
</script>
<%- include("./partials/footer.ejs") -%>
