<%- include("./partials/header.ejs") -%>
  <div class="one-card">
    <img src="/images/<%= word %>.png" alt="<%= word %>sign.png">

    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>  

    <video width="200" height="200" controls>
      <source src="/videos/<%= word%>.mp4" type="">
    </video>
</div>


<%- include  ("./partials/footer")-%>
