<%- include("./partials/header.ejs") -%>
    <div class="mobile-div">
      <div class="word-card">
        <div class="video-info">
          <video width="200" height="200" controls>
            <source src="/videos/a.mp4" type="">
          </video>
        </div>
        <div class="img-info">
          <img src="/images/<%=word%>.png" alt="<%= word %> .png">
          <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>  
        </div>
      </div>
      <div class="word-card">
        <div class="video-info">
          <video width="200" height="200" controls>
            <source src="/videos/a.mp4" type="">
          </video>
        </div>
        <div class="img-info">
          <img src="/images/<%=word%>.png" alt="<%= word %> .png">
          <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>  
        </div>
      </div>
    </div>
<%- include  ("./partials/footer")-%>
